*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    position: relative;
    min-width: 100vw;
    min-height: 100vh;
    background-color: rgb(11, 11, 41);
}

body::after{
    content: '';
    display: block;
    height: 175px; /* Set same as footer's height */
}
  
header{
    background-image: url(../images/headerpng.jpg);
    background-size:cover;
}

p, input, option, h1, ul, form, h2, div{
    font-weight: bold;
    font-family: 'Oswald', sans-serif;
}

ul{
    list-style: none;
    color: azure;
}

a, p, div{
    text-decoration: none;
    color: azure;
}

h1{
    color: azure;
    font-size: 32px;
}

h2{
    margin-left: 20px;
    color: azure;
    font-size: 21px;
}

.gridHeader{
    display: grid;
    padding-bottom: 0.5vh;
    grid-template-columns: 0.8fr 4.2fr max-content min-content;
}

.barraHeader{
    color: azure;
    display: flex;
    flex-wrap: wrap;
}

.barraHeader li{
    padding-right: 0.4rem;
}

.buscadorHeader{
    padding: 0 5% 0 5%;
}

.busq{
    width: 100%;
}

.carrito, .pregFrec{
    display: flex;
    justify-content: center;
    margin-right: 2rem;
}

.conteinerBotones{
    padding: 1vh 0 1vh 0;
    width: 100%;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

.slider{
    width: 100%;
    height: auto;
    margin: auto;
    overflow: hidden;
}

.slider li{
    width: 100%;
    list-style: none;
}

.slider ul{
    display: flex;
    padding: 0;
    width: 400%;
    order: unset;

    animation: cambio 17s infinite ease-out;
    animation-direction: normal
}

@keyframes cambio{
    0% { margin-left: 0;}
    23%{ margin-left: 0;}
    /* 1s entre imagenes */
    25%{margin-left: -100%;}
    48%{margin-left: -100%;}

    50%{margin-left: -200%;}
    73%{margin-left: -200%;}

    75%{margin-left: -300%;}
    97%{margin-left: -300%;}
}

.text-black{
    color: black;
}
.text-center {
    text-align: center;
}

.slider img{
    width: 100%;
    height: 100%;
}

#productos {
    height: auto;
}

.seccionProductos{
    display: grid;
    grid-template-rows: auto;
}

.tituloProd{
    margin-left: 0.5%;
    width: fit-content;
}

.listProducto{
    display: grid;
    grid-template-columns: repeat(5, 20%);
    justify-items: center;
    width: 100%;
}

.itemProducto{
    display: flex;
    flex-direction: column;
    margin: 0.2rem;
    background-color: white;
    padding: 2rem;
    width: min-content;
}

.imagen1 {
    display: block;
    width: 12vw;
    margin: 0 auto;
    box-shadow: 3px 3px 10px 0 rgba(0,0,0,0.3)
}

form{
    display: block;
    margin: 0% 0% 0% 40%;
    width: fit-content;
    color: white;
    border: white;

}
footer{
    position: absolute;
    bottom: 0;
    width: 100%;
    background-image: url(../images/footer.webp);
    background-size:contain; 
    height: 175px;
}
.footerGrid{
    display: grid;
    align-items: start;
    justify-items: center;
    grid-template-columns: repeat(3, 33%);
    padding: 1.5rem;
}


.itemFooter{
    color: azure;
}

/* Boton de menu */

.button-menu{
    width: 60px;
    height: 60px;
    border-radius: 100%;
    background: #5f5f5f;
    position: fixed;
    cursor: pointer;
    box-shadow: 3px 3px 10px 0 rgba(0,0,0,0.3);

}
.button-menu #span1,#span2,#span3{
    position: absolute;
    content: '';
    background:#ffff;
    width: 40px;
    height: 5px;
    border-radius: 10px;
    transition: all 400ms ease;
}
#span1{
    top: 17px;
    margin-left: 10px;
}
#span2{
    margin-left: 10px; 
    top: 27px;
}
#span3{
    margin-left: 10px;
    top: 37px;
}
#toggle{
    display: none;
}
#toggle:checked ~ .button-menu #span1{
    transform: rotate(140deg);
    top: 27px;
}
#toggle:checked ~ .button-menu #span2{
    opacity: 0;
}
#toggle:checked ~ .button-menu #span3{
    transform: rotate(-140deg);
    top: 27px;
}
/* Menu desplegable */

.menu{
    position: fixed;
    margin: auto;
    top: 5%;
    right: 5%;
}
.nav{
    position: absolute;
    transform: translateY(-10%);
    opacity: 1;
    top: 35px;
    right: -50px;
    transition: all 0.5s ease-in-out;
    background: white;
    width: 150px;
    border-radius: 5px;
    transform: translateY(0%);
    box-shadow: 2px 3px 10px 0 rgba(0,0,0,0.1);
    display:none;
    

}

.nav a{
    text-align: center;
    display: block;
    margin: 20px 0;
    color: black;
    text-decoration: none;
    font-family: 'Oswald', sans-serif;
    text-transform: uppercase;
    letter-spacing: 2px;
    transition: all 150ms;
    animation: entradaMenu 0.5s ease-in-out;
    animation-direction: normal;
}

.nav a:hover{
    color: #5f5f5f;
}

#toggle:checked ~ .nav{
    opacity: 1;
    transform: translateY(10%);
    display: block;
}

#toggle:checked ~ .button-menu{
    box-shadow: 0 0 0 0 transparent;
}

@keyframes entradaMenu{
    0% { margin-top: -10%;}
    100%{ margin-top: 0%;}
}

@media (max-width: 768px) {
    
    .menu{
        margin-right: 5%;
    }
    
    .gridHeader{
        grid-template-columns: 1fr 2fr max-content min-content;
    }

    .listProducto{
        grid-template-columns: repeat(3, 33%);
    }

    .itemProducto{
        margin: 2%;
        padding: 1.5rem;
        width: 90%;
    }
    .imagen1{
        width: 20vw;
    }
    
}

@media (max-width: 420px) {
    .menu{
        margin-right: 15%;
    }
    
    .gridHeader{
        grid-template-columns: 2fr 1fr max-content 0.5fr;
    }

    .listProducto{
        display: grid;
        grid-template-columns: repeat(2, 50%);
        justify-items: center;
        width: 100%;
    }

    .itemProducto{
        margin: 2%;
        padding: 1.5rem;
        width: 90%;
    }
    .imagen1{
        width: 30vw;
    }
    h1{
        font-size: 25px;
    }
    .itemFooter{
        color: azure;
        font-size: medium;
    }

    .footerGrid{
        display: grid;
        align-items: start;
        justify-items: center;
        grid-template-columns: repeat(3, 33%);
        padding: 0.5rem;
    }
    
}